<div class="container mt-5">
  <h2 class="fs-6 text-uppercase text-center">Tabla de Alumnos</h2>
  <table class="table table-success table-striped table-bordered">
    <thead>
      <tr class="align-middle text-center">
        <th scope="col">ITEM</th>
        <th scope="col">NOMBRES</th>
        <th scope="col">APELLIDOS</th>
        <th scope="col">EMAIL</th>
        <th scope="col">GENERO</th>
        <th scope="col">EDAD</th>
        <th scope="col">FECHA NACIMIENTO</th>
        <th scope="col">DIRECCION</th>
        <th scope="col">TELEFONO</th>
        <th scope="col">TIPO DE DOCUMENTO</th>
        <th scope="col">No DOCUMENTO</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle text-center">
        <th scope="row">1</th>
        <td>Juan Carlos</td>
        <td>Gomez Diaz</td>
        <td>jcgmail.com</td>
        <td>Masculino</td>
        <td>12</td>
        <td>05-09-1991</td>
        <td>Carrera 12 # 75 - 22</td>
        <td>345789520</td>
        <td>tarjeta identidad</td>
        <td>15987620</td>
      </tr>
    </tbody>
  </table>
</div>
