<div class="container mt-5">
  <h2 class="fs-5 text-uppercase text-center">Tabla de Alumnos</h2>
  <table class="table table-success table-striped table-bordered">
    <thead>
      <tr class="align-middle text-center">
        <th scope="col">ITEM</th>
        <th scope="col">NOMBRES</th>
        <th scope="col">APELLIDOS</th>
        <th scope="col">EMAIL</th>
        <th scope="col">GENERO</th>
        <th scope="col">EDAD</th>
        <th scope="col">FECHA NACIMIENTO</th>
        <th scope="col">DIRECCION</th>
        <th scope="col">TELEFONO</th>
        <th scope="col">TIPO DE DOCUMENTO</th>
        <th scope="col">No DOCUMENTO</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (alumno of alumnos; track $index) {
      <tr class="align-middle text-center">
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.apellido }}</td>
        <td>{{ alumno.email }}</td>
        <td>{{ alumno.genero }}</td>
        <td>{{ alumno.edad }}</td>
        <td>{{ alumno.fechaNacimiento }}</td>
        <td>{{ alumno.direccion }}</td>
        <td>{{ alumno.telefono }}</td>
        <td>{{ alumno.tipoDocumento }}</td>
        <td>{{ alumno.numeroDocumento }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
